@media only screen and (max-width: 1279px){}

/*------ TYPOGRAPHIC STYLES ------*/
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.wrapper > .max-wrap:after{
	right: 0;
}
.max-wrap-home {
	max-width: 720px;
}
.layout{
	margin-right: 0;
}

.cols-wrap{ margin: 0; }
.col-wrap{
	float: none;
	display: block;
	width: auto;
	padding: 0;
}
/*MAIN BLOCKS end*/

/*btn*/
/*btn end*/

/*USER CONTENT*/

/*list*/
/*list end*/

/*default table*/
/*default table end*/

/*table styling*/
/*table styling end*/

/*blockquote*/
/*blockquote end*/

/*content img*/
/*content img end*/

/*aligned content*/
/*aligned content end*/

/*elements form style*/
/*elements form style end*/

/*download files items*/
/*download files items end*/
/*USER CONTENT end*/

/*HEADER*/
/*logo*/
/*logo end*/
.login{
	right: 150px;
}
/*login*/
/*login end*/
/*main navigation*/
.nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 74px 8px 0;
	text-align: center;
	background: #655446 url(../img/bg-page.jpg) 50% 0;
	z-index: 99;
	display: none;
	overflow: auto;

	font-size: 0;
	letter-spacing: -4px;
}
.nav:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.nav-list{
	float: none;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	text-align: center;
	min-height: 0;
	max-width: 98%;
	width: 600px;
	position: relative;
	overflow: visible;
	z-index: 1;

	font-size: 16px;
	letter-spacing: normal;
}
.nav-list > li{
	float: none;
	display: block;
	position: relative;
	padding-left: 0;
	padding-right: 0;
}
.nav-list > li:before,
.nav-list > li:after{
	content: '';
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	border-top: 0 solid #fff;
	opacity: 0.5;
}
.nav-list > li:before{
	top: 0;
}
.nav-list > li:after{
	bottom: 0;
	border-width: 1px 0 0;
}
.nav-list > li:first-child:before{
	border-width: 1px 0 0;
}
.nav-list > li > a{
	display: block;
	color: #fff;
	padding: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.nav-list > .active > a,
.desktop .nav-list > .active > a,
.desktop .nav-list > li > a:hover,
.desktop .nav-list > li:hover > a{
	color: #feed00;
	background: none;
	box-shadow: none;
}
.nav-list .nav-drop a{
	font-size: 18px;
	font-weight: bold;
}
/*main navigation end*/
/*btn menu*/
.btn-menu{
	display: block;
}
/*btn menu end*/
/*HEADER end*/

/*MAIN*/
/*CONTENT*/

/*breadcrumbs*/
.breadcrumbs {
	padding-bottom: 10px;
}
/*breadcrumbs end*/

/*datetime*/
/*datetime */

/*adverts box*/
.promo-section .adverts-box{
	display: none;
}
.home-page .sidebar .adverts-box {
	display: block;
}

/*subscribe*/
/*subscribe end*/
/*adverts box end*/

/*adverts box (on content)*/
/*adverts box (on content) end*/

/*promo section*/
.promo-section-holder{
	float: none;
	width: auto;
}
/*promo slider*/
.promo-section-holder .promo-slider,
.promo-section-holder .slick-dotted.slick-slider{
	margin-right: 0;
}
/*promo slider end*/
/*promo section end*/

/*desks*/
/*desks end*/

/*desks list*/
.desks-list__item{
	width: 49.98%;
}
/*desks list end*/

/*shops result*/
.shops-result{
	width: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.34);
}

/*shops view switcher*/
.shops-view-switcher{
	display: block;
}
.shops-aside-swiper{
	display: block;
}
/*shops view switcher end*/
/*shops result end*/

/*location filter*/
.show-btn-more .location-filter-holder {
	padding-right: 90px;
}
.location-filter-clone {
	width: 90px;
}
.location-filter-btn{
	padding: 0;
	text-align: center;
}
.location-filter-drop{
	width: 277px;
}
/*location filter end*/

/*shops network*/
.shops{
	padding-top: 60px;
}
.shops-holder{
	height: 700px;
	width: 200%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
	-webkit-transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
	transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
.view-shops-active .shops-holder{
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.shops-aside{
	width: 50%;
	padding-top: 0;
}
/*shops network end*/
/*CONTENT end*/

/*SIDEBAR*/
/*SIDEBAR end*/

/*SUB NAV*/
.sub-nav{
	display: none;
}
/*SUB NAV end*/

/*MAIN end*/

/*FOOTER*/
/*footer holder*/

/*footer holder end*/
/*FOOTER end*/