@media only screen and (max-width: 1539px){}

/*------ TYPOGRAPHIC STYLES ------*/
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.max-wrap-home {
	max-width: 1030px;
}
/*MAIN BLOCKS end*/

/*btn*/
/*btn end*/

/*USER CONTENT*/

/*list*/
/*list end*/

/*default table*/
/*default table end*/

/*table styling*/
/*table styling end*/

/*blockquote*/
/*blockquote end*/

/*content img*/
/*content img end*/

/*aligned content*/
/*aligned content end*/

/*elements form style*/
/*elements form style end*/

/*download files items*/
/*download files items end*/
/*USER CONTENT end*/

/*HEADER*/
/*logo*/
.logo{
	width: 413px;
	height: 46px;
	margin-top: -23px;
}
/*logo end*/
/*HEADER end*/

/*MAIN*/
/*CONTENT*/

/*breadcrumbs*/
/*breadcrumbs end*/

/*datetime*/
/*datetime */

/*adverts box*/

/*subscribe*/
.promo-section .subscribe {
	min-height: 69px;
	padding: 11px 20px 16px;
}
.promo-section .subscribe__icon {
	padding: 0 10px 0 0;
	display: inline-block;
	vertical-align: middle;
}
.subscribe__text,
.subscribe__text > strong {
	font-size: 14px;
	line-height: 18px;
}
.subscribe__text {
	display: inline-block;
	padding: 0;
	max-width: 110px;
	vertical-align: middle;
}
/*subscribe end*/
/*adverts box end*/

/*adverts box (on content)*/
.promo-section .advert {
	min-height: 291px;
}
.promo-section .advert__figure {
	min-height: 147px;
}
.promo-section .advert__img{
	max-width: 100px;
}
/*adverts box (on content) end*/

/*promo section*/
/*promo slider*/
/*promo slider end*/
/*promo section end*/

/*shares*/
/*shares end*/

/*desks*/
/*desks end*/

/*desks list*/
.desks-list__item{
	width: 33.28%;
}
/*desks list end*/
/*CONTENT end*/

/*SIDEBAR*/
/*SIDEBAR end*/

/*SUB NAV*/
/*SUB NAV end*/

/*MAIN end*/

/*FOOTER*/
/*footer holder*/

/*footer holder end*/
/*FOOTER end*/