@media only screen and (max-width: 1539px){}

/*------ TYPOGRAPHIC STYLES ------*/
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.max-wrap-home {
	max-width: 1030px;
}
/*MAIN BLOCKS end*/

/*btn*/
/*btn end*/

/*USER CONTENT*/

/*list*/
/*list end*/

/*default table*/
/*default table end*/

/*table styling*/
/*table styling end*/

/*blockquote*/
/*blockquote end*/

/*content img*/
/*content img end*/

/*aligned content*/
/*aligned content end*/

/*elements form style*/
/*elements form style end*/

/*download files items*/
/*download files items end*/
/*USER CONTENT end*/

/*HEADER*/
/*logo*/
.logo{
	width: 413px;
	height: 46px;
	margin-top: -23px;
}
/*logo end*/
/*HEADER end*/

/*MAIN*/
/*CONTENT*/

/*breadcrumbs*/
/*breadcrumbs end*/

/*datetime*/
/*datetime */

/*adverts box*/
.home-page .sidebar .adverts-box{
	display: block;
}
/*adverts box end*/

/*adverts box (on content)*/
.promo-section .adverts-box{
	display: none;
}
/*adverts box (on content) end*/

/*promo section*/
.promo-section-holder{
	float: none;
	width: auto;
}
/*promo slider*/
.promo-section-holder .promo-slider,
.promo-section-holder .slick-dotted.slick-slider{
	margin-right: 0;
}
/*promo slider end*/
/*promo section end*/

/*shares slider*/
/*shares slider end*/

/*desks*/
/*desks end*/

/*desks list*/
.desks-list__item{
	width: 33.28%;
}
/*desks list end*/
/*CONTENT*/

/*SIDEBAR*/
/*SIDEBAR end*/

/*ASIDE*/
/*ASIDE end*/

/*MAIN end*/

/*FOOTER*/
/*footer holder*/

/*footer holder end*/
/*FOOTER end*/