@media only screen and (max-width: 419px){}

/*.shares,*/
.desks{
	max-width: 280px;
	margin: 0 auto;
}
/*.shares-slider__item,*/
/*.slick-initialized .shares-slider__item,*/
.desks-list__item{
	display: block;
	width: auto !important;
}