@media only screen and (max-width: 639px){}

/*------ TYPOGRAPHIC STYLES ------*/
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.max-wrap-home {
	max-width: 280px;
}

/*MAIN BLOCKS end*/

/*slider*/
/*slider end*/

/*btn*/
/*btn end*/

/*USER CONTENT*/

/*list*/
/*list end*/

/*default table*/
/*default table end*/

/*table styling*/
/*table styling end*/

/*blockquote*/
/*blockquote end*/

/*content img*/
/*content img end*/

/*aligned content*/
/*aligned content end*/

/*elements form style*/
/*elements form style end*/

/*download files items*/
/*download files items end*/
/*USER CONTENT end*/

/*HEADER*/
/*HEADER end*/

/*MAIN*/
/*CONTENT*/

/*breadcrumbs*/
/*breadcrumbs end*/

/*datetime*/
/*datetime */

/*adverts box*/
/*advert copy*/
/*advert copy end*/
/*adverts box end*/

/*promo section*/
/*promo slider end*/
/*promo section end*/

/*shares*/

/*shares slider*/

.shares-slider .slick-list,
.shares-slider .slick-track{
	width: auto !important;
	-webkit-transform: translate3d(0,0,0) !important;
	-ms-transform: translate3d(0,0,0) !important;
	transform: translate3d(0,0,0) !important;
}
.shares-slider__item{
	float: none !important;
	display: block;
	width: auto !important;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
}

.shares-slider .slick-arrow{
	display: none !important;
}
/*shares slider*/
/*shares end*/

/*desks list*/
.desks-list__item{
	display: block;
	position: relative;
	width: auto;
	max-width: 280px;
}
/*desks list end*/

/*rate*/
.rate__align{
	padding-left: 20px;
	padding-right: 20px;
}
/*rate end*/
/*CONTENT end*/

/*SIDEBAR*/
/*SIDEBAR end*/

/*ASIDE*/
/*ASIDE end*/
/*MAIN end*/

/*FOOTER*/
/*footer holder*/
.copyright{ padding: 0 15px; }
/*footer holder end*/
/*FOOTER end*/

/*page is scrolled*/
.page-is-scrolled .header{
	top: 0;
}

/*page is scrolled end*/