@media only screen and (max-width: 639px){}

/*------ TYPOGRAPHIC STYLES ------*/
h1 {
	font-size: 26px;
	line-height: 32px;
	padding: 0 0 20px;
}
h2 {
	font-size: 24px;
	line-height: 30px;
	padding: 0 0 20px;
}
h3 {
	font-size: 22px;
	line-height: 30px;
	padding: 0 0 15px;
}
h4 {
	font-size: 18px;
	line-height: 26px;
	padding: 0 0 20px;
}
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.main{
	padding-top: 100px;
}

.max-wrap,
.max-wrap-md,
.max-wrap-md-alt,
.max-wrap-sm,
.max-wrap-home{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.sheet .max-wrap-md,
.sheet .max-wrap-md-alt,
.sheet .max-wrap-sm,
.user-form .max-wrap-sm{
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.wrapper > .max-wrap,
.footer > .max-wrap{
	padding: 0 !important;
}

.max-wrap-home {
	/*max-width: 280px;*/
}
.promo-section .max-wrap-home {
	max-width: none;
}

.header-holder,
.footer-holder {
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.logo{
	left: 12px;
}
.btn-menu{
	right: 12px;
}
.login {
	right: 122px;
}

.user-content { padding: 30px 0; }
.home-page .content { padding: 30px 0 0; }

.sheet{ padding: 0 10px; }
.sheet-holder { padding: 30px 0 10px; }
/*MAIN BLOCKS end*/

/*slider*/
/*slider end*/

/*btn*/
/*btn end*/

/*social networks*/
.social-networks li, .user-content .social-networks li, .user-content .social-networks li:first-child{ padding: 8px; }
.social-networks a{
	width: 40px;
	height: 40px;
}
.social-facebook svg { height: 18px; }
.social-vk svg { width: 20px; }
.social-tw svg { width: 17px; }
/*social networks end*/

/*accordion*/
.accordion-header {
	padding: 18px 0 18px 42px;
}
.accordion-title{
	font-size: 16px;
	line-height: 20px;
}
.accordion-panel {
	padding: 0;
	font-size: 16px;
	line-height: 24px;
}
.accordion-header .accordion-info{
	display: none;
}
.accordion-panel .accordion-info {
	display: block;
	float: none;
	max-width: none;
	padding: 0 0 10px;
	font-size: 18px;
}
/*accordion end*/
/*USER CONTENT*/

/*list*/
/*list end*/

/*default table*/
/*default table end*/

/*table styling*/
/*table styling end*/

/*blockquote*/
.user-content blockquote q {
	font-family: 'lozen-cond-bold-italic', sans-serif;
	font-size: 18px;
	line-height: 26px;
	display: block;
	position: relative;
	margin: 0;
	padding: 26px 0;
	color: #000;
	text-align: center;
	border: solid #000;
	border-width: 1px 0;
}
.user-content blockquote q:before {
	top: -12px;
	height: 21px;
	width: 50px;
	-webkit-background-size: 30px;
	background-size: 30px;
}
/*blockquote end*/

/*content img*/
/*content img end*/

/*aligned content*/
/*aligned content end*/

/*elements form style*/
input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea{
	font-size: 14px;
	padding: 10px 18px 11px;
	height: 46px;
}
input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea, .form-row, .input-wrap {
	margin-bottom: 15px;
}
label {
	font-size: 16px;
	letter-spacing: normal;
}
.error-note{
	font-size: 10px;
}
/*elements form style end*/

/*download files items*/
.files {
	padding: 0 0 20px;
	margin-left: 0;
	margin-righn: 0;
}
.files .files-item {
	display: block;
	vertical-align: top;
	width: auto;
	padding: 0 0 30px;
}
/*download files items end*/
/*USER CONTENT end*/

/*HEADER*/
.header{
	height: 60px;
	top: 40px;
	display: none;
}
.page-loaded .header,
.no-js .header{
	display: block;
}
.btn-menu{
	top: 11px;
}
.page-is-scrolled .btn-menu.active,
.nav-opened .btn-menu.active {
	top: 11px;
}
.nav{ padding-top: 60px; }
/*HEADER end*/

/*MAIN*/
/*CONTENT*/

/*breadcrumbs*/
.breadcrumbs {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
/*breadcrumbs end*/

/*datetime*/
/*datetime */

/*topic*/
.topic,
.sheet .topic{
	padding-bottom: 20px;
}
.topic .control{
	margin: 0;
	position: relative;
}

.sheet .topic h1,
.sheet .topic h2 {
	display: block;
	margin-right: 0;
}

.control-item{
	float: none;
	width: 100%;
	padding: 0 60px 0 0;
}
.control-item:first-child{
	float: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 50px;
	z-index: 1;
}
.control-item [class*="btn-"]{
	text-align: center;
	min-width: 0;
	height: 50px;
	padding-left: 0;
	padding-right: 0;
}
.control-item [class*="btn-"] span{
	display: none;
}
.control-item [class*="btn-"] i{
	margin-right: 0;
}
/*topic end*/

/*user form*/
.user-form {
	padding: 25px 0;
	margin-bottom: 10px;
}
.user-form .label-holder {
	float: none;
	width: auto;
	min-width: 0;
	padding-right: 0;
	padding-top: 0;
}
.user-form .input-holder {
	margin-left: 0;
}
.user-form .form-footer {
	padding-left: 0;
}
.user-form .form-title {
	font-size: 22px;
	line-height: 30px;
	padding: 0 0 30px;
}
.user-form .label-holder:before{
	content: none;
}
/*user form end*/

/*adverts box*/
/*advert copy*/
.advert-copy {
	right: 0;
	width: 100%;
	height: 40px;
	top: -40px;
	background: #529f1f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #529f1f 0%, #4a9a23 15%, #10763c 79%, #026c42 100%);
	background: -webkit-linear-gradient(top, #529f1f 0%, #4a9a23 15%, #10763c 79%, #026c42 100%);
	background: linear-gradient(to bottom, #529f1f 0%, #4a9a23 15%, #10763c 79%, #026c42 100%);
}
.advert-copy__img {
	left: auto;
	right: 29px;
	top: 13px;
	width: 60px;
}
.advert-copy [class*="btn-"] {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 10px 75px 10px 5px;
	border-radius: 0;
	background: none;
}
/*advert copy end*/
/*adverts box end*/

/*adverts box (on sidebar copy)*/
.sidebar-content .adverts-box{
	top: -117px;
	padding: 0 10px;
}
/*adverts box (on sidebar copy) end*/

.sect-title{
	text-align: center;
	padding: 0 0 15px;
}
.sect-title h2,
.sect-title h3 {
	float: none;
	font-size: 24px;
	line-height: 32px;
	padding: 0 0 12px;
	margin: 0;
}
.sect-title .link-more{
	float: none;
	margin-bottom: 0;
	vertical-align: top;
}

/*subscribe*/
.subscribe__text,
.subscribe__text > strong {
	font-size: 16px;
	line-height: 20px;
	max-width: 140px;
}
.promo-section .subscribe__icon {
	padding: 0 10px 0 0;
}
/*subscribe end*/

/*promo section*/
.promo-section .adverts-box {
	padding: 0 0 20px;
}
.promo-section-holder{
	float: none;
	width: auto;
	padding: 0 0 20px;
}
/*promo slider*/
.promo-slider .slick-arrow{
	display: none !important;
}
/*promo slider end*/
/*promo section end*/

/*shares*/
.shares { padding-bottom: 50px; }
/*shares slider*/
.shares-slider__item{ padding: 5px; }
.shares-slider .slick-dots { bottom: -20px; }
/*shares slider*/
/*shares end*/

/*desks*/
.desks-list__item {
	width: 49.98%;
}
/*desks end*/

/*article options*/
.article-options {
	display: block;
	margin-bottom: 10px;
}
.article-options__box {
	display: block;
	vertical-align: top;
	text-align: left;
	padding: 0 0 10px;
}
.back-link a {
	font-size: 14px;
	line-height: 20px;
	padding: 9px 16px 9px 35px;
}
.back-link a:before, .back-link a:after {
	left: 9px;
	height: 3px;
	width: 12px;
	border-radius: 2px;
}
.back-link a:before {
	margin: -5px 0 0 0;
}
/*article options end*/

/*location filter*/
.location-filter-holder {
	margin-right: 60px;
}
.show-btn-more .location-filter-holder {
	padding-right: 90px;
}
.location-filter-clone {
	width: 90px;
}
.location-filter-btn{
	padding: 0;
	text-align: center;
}
.location-filter-btn .location-filter-inner > i {
	left: 20px;
}
.clear-form { width: 60px; }
.btn-clear-form {
	padding: 0;
	text-align: center;
}
.btn-clear-form>i{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: auto;
	left: auto;
	margin: 0;
}
.btn-clear-form>span{
	display: none;
}

.location-filter-drop{
	width: 253px;
	max-height: 320px;
}
.show-drop .location-filter-drop {
	left: -103px;
}
.hide-all-items .location-filter-drop{
	left: 0;
}
/*location filter end*/

/*shops result*/
.shops-result{
	padding-left: 20px;
}
/*shops result*/

/*shops network*/
.shops-holder{
	height: 348px;
}
.shops-group-tittle{
	padding: 10px 20px;
}
.shops-item {
	padding: 12px 20px;
}
.shops-item__title,
.map-popup__title{
	padding: 0 0 8px;
}
.shops-item__extend h4{
	font-size: 15px;
	line-height: 21px;
	padding-bottom: 10px;
}
.shops-item__extend ul, .user-content .shops-item__extend ul {
	padding: 0 0 10px;
	font-size: 14px;
	line-height: 19px;
}
/*shops network end*/

/*contacts caption*/
.contacts-caption, .contacts-info {
	padding: 30px 20px 20px;
}
/*contacts caption end*/

/*contacts info*/
.contacts-info-list{
	display: block;
	table-layout: auto;
	margin: 0 0 20px;
}
.contacts-info-list tr{
	display: block;
}
.contacts-info-list td{
	display: block;
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 20px;
}
.contacts-info-list td:first-child{
	padding: 0 0 10px;
}
.contacts-requisites{
	font-size: 14px;
	color: #666;
}
/*contacts info end*/

/*job*/
.switch-job__hand a span {
	font-size: 13px;
	line-height: 18px;
}
.job-selects {
	padding: 28px 20px 10px;
}
/*job end*/
/*CONTENT end*/

/*SIDEBAR*/
/*SIDEBAR end*/

/*SUB NAV*/
.sub-nav {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.menu, .user-content .menu {
	line-height: 22px;
}
.menu li {
	font-size: 16px;
}
.menu a {
	padding: 5px 14px;
}
/*SUB NAV end*/
/*MAIN end*/

/*FOOTER*/
/*footer holder*/
.copyright{ padding: 0 15px; }
/*footer holder end*/
/*FOOTER end*/

/*page is scrolled*/
.page-is-scrolled .header{
	top: -75px;
}
/*page is scrolled end*/

@media only screen and (max-width: 379px){
	.logo{
		width: 131px;
		height: 26px;
		margin-top: -13px;
	}
}