@media only screen and (max-width: 767px){}

/*------ TYPOGRAPHIC STYLES ------*/
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
/*MAIN BLOCKS end*/

/*btn*/
/*btn end*/

/*USER CONTENT*/

/*list*/
/*list end*/

/*default table*/
/*default table end*/

/*table styling*/
/*table styling end*/

/*blockquote*/
/*blockquote end*/

/*content img*/
/*content img end*/

/*aligned content*/
/*aligned content end*/

/*elements form style*/
/*elements form style end*/

/*download files items*/
/*download files items end*/
/*USER CONTENT end*/

/*HEADER*/
/*logo*/
.logo {
	width: 187px;
	height: 38px;
	margin-top: -19px;
}
/*logo end*/
/*HEADER end*/

/*MAIN*/
/*CONTENT*/

/*breadcrumbs*/
/*breadcrumbs end*/

/*datetime*/
/*datetime */

/*adverts box*/
/*advert copy*/
.advert-copy {
	right: 190px;
	width: 230px;
}
.advert-copy__img {
	left: 17px;
	top: 10px;
	width: 90px;
}
/*advert copy end*/
/*adverts box end*/
/*CONTENT end*/

/*SIDEBAR*/
/*SIDEBAR end*/

/*ASIDE*/
/*ASIDE end*/

.main,
.sidebar{
	padding-top: 74px;
}
/*MAIN end*/

/*FOOTER*/
/*footer holder*/
.footer-holder{ padding: 18px 0; }
/*footer holder end*/
/*FOOTER end*/
