@media only screen and (max-width: 979px){}

/*------ TYPOGRAPHIC STYLES ------*/
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.wrapper{
	float: none;
	width: auto;
}
.wrapper > .max-wrap:before{
	content: none;
}
.wrapper > .max-wrap:after{
	left: 0;
	right: 0;
	box-shadow: none;
}
.home-page .wrapper > .max-wrap:after {
	content: none;
}
.content-wrap{
	float: none;
	width: auto;
}
.layout {
	margin: 0;
}
.max-wrap-home {
	max-width: none;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.content + .spacer{ display: none; }
.main + .spacer{ display: block; }

.header-holder,
.footer-holder{
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.logo{
	left: 20px;
}
.btn-menu{
	right: 20px;
}
.login {
	right: 140px;
}
/*MAIN BLOCKS end*/

/*slider*/
.slick-arrow{
	width: 46px;
	height: 46px;
}
.slick-prev:after,
.slick-prev:before{
	margin-right: -4px;
}
.slick-next:before,
.slick-next:after{
	margin-left: -4px;
}
.slick-prev:before,
.slick-next:before{
	border-width: 12px;
	margin-top: -12px;
}
.slick-prev:after,
.slick-next:after{
	border-width: 6px;
	margin-top: -6px;
}
/*slider end*/

/*btn*/
/*btn end*/

/*USER CONTENT*/

/*list*/
/*list end*/

/*default table*/
/*default table end*/

/*table styling*/
/*table styling end*/

/*blockquote*/
/*blockquote end*/

/*content img*/
/*content img end*/

/*aligned content*/
/*aligned content end*/

/*elements form style*/
/*elements form style end*/

/*download files items*/
/*download files items end*/
/*USER CONTENT end*/

/*HEADER*/
/*logo*/
.logo{
	background-image: url(../img/logo-short.png);
	width: 217px;
	height: 44px;
	margin-top: -22px;
}
/*logo end*/
/*HEADER end*/

/*MAIN*/
/*CONTENT*/

/*breadcrumbs*/
/*breadcrumbs end*/

/*datetime*/
/*datetime */

/*topic*/
.topic h1,
.topic h2,
.sheet .topic h1,
.sheet .topic h2{
	float: none;
	display: block;
}
.topic h1 + *,
.topic h2 + *{
	margin-top: 12px;
}
.topic .hot-job{ top: auto; }
.topic .control {
	float: none;
	direction: rtl;
	text-align: left;
}
.topic .control:before,
.topic .control:after { content: ""; display: table; }
.topic .control:after { clear: both; }
.control-item,
.control-item:first-child {
	float: none;
	margin: 0 20px 0 0;
}
.control-item{
	direction: ltr;
	display: inline-block;
	vertical-align: top;
}
.control-item>*{
}
/*topic end*/

/*adverts box*/
.home-page .sidebar .adverts-box,
.home-page .sidebar-content .adverts-box{
	display: none;
}

/*advert*/
.advert {
	display: none;
}
/*advert end*/

/*advert copy*/
.advert-copy{
	display: block;
	opacity: 0;
}
.page-loaded .advert-copy,
.no-js .advert-copy{
	opacity: 1;
}
/*advert copy end*/

/*subscribe*/
.subscribe,
.promo-section .subscribe{
	min-height: 0;
	padding: 20px;
	text-align: center;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.subscribe__icon,
.promo-section .subscribe__icon{
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px 0 0;
}
.subscribe__text{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.subscribe__text,
.subscribe__text > strong {
	font-size: 20px;
	line-height: 28px;
	max-width: 320px;
}
/*subscribe end*/
/*adverts box end*/

/*adverts box (on content)*/
.promo-section .adverts-box{
	display: block;
	float: none;
	width: auto;
	margin: 0;
	background: none;
	padding: 0 0 40px;
	box-shadow: none;
}
.promo-section .advert{
	display: none;
}
/*adverts box (on content) end*/

/*adverts box (on sidebar copy)*/
.sidebar-content .adverts-box{
	position: absolute;
	left: 0;
	top: -117px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 30px;
}
/*adverts box (on sidebar copy) end*/

/*promo section*/
.promo-section{
	padding: 0;
}
.promo-section-holder{
	float: none;
	width: auto;
	padding: 0 0 40px;
}
/*promo slider*/
.promo-slider .slick-dots{ bottom: 5px; }
/*promo slider end*/
/*promo section end*/

/*shares*/
.shares { padding-bottom: 30px; }
.shares-slider,
.shares-slider.slick-dotted{
	margin-left: -10px;
	margin-right: -10px;
}
/*shares end*/

/*desks*/
.desks{ padding: 0 0 20px; }
.desks-list{
	margin-left: -10px;
	margin-right: -10px;
}
.desks-list__item {
	width: 33.28%;
}
/*desks end*/

/*desks list*/
/*desks list end*/

/*banners*/
.banners-slider .slick-list,
.banners-slider.slick-dotted .slick-list{
	padding-left: 8px;
	padding-right: 8px;
}
.banners-slider__item {
	padding-left: 12px;
	padding-right: 12px;
}
.banners-slider__inner{
	display: table;
	width: 100%;
}
.banners-slider__title{
	display: table-footer-group;
	padding: 0;
}
.banners-slider__figure{
	display: table-row-group;
	padding: 0;
}
.banners-slider__img{
	margin-bottom: 10px;
}
/*banners*/

/*shops network*/
.shops-holder{
	height: 572px;
}
/*shops network end*/
/*CONTENT end*/

/*SIDEBAR*/
.sidebar{
	display: none;
}
/*SIDEBAR end*/

/*sidebar content (for devices)*/
.sidebar-content{
	display: block;
	margin: 117px 0 0;
}
/*sidebar content (for devices) end*/

/*SUB NAV*/
/*SUB NAV end*/

/*MAIN end*/

/*FOOTER*/
/*footer holder*/
.footer-holder {
	padding-top: 18px;
	padding-bottom: 18px;
}
.footer-col {
	display: block;
	text-align: center;
	padding: 6px 0;
}
/*footer holder end*/
/*FOOTER end*/

/*page is scrolled*/
.page-is-scrolled .header{
	height: 60px;
}
.page-is-scrolled .btn-menu{
	top: 11px;
}
.page-is-scrolled .login {
	display: none;
}

.page-is-scrolled .advert-copy{
	display: none;
}

/*page is scrolled end*/