@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic';
@import url(fonts.css);
@import url(normalize.css);
@import url(buttons.css);
@import url(sp.css);
@import url(widgets.css);

/*fonts*/
/*@import url(fonts.css);*/
/*fonts end*/

/*normalize*/
/*@import url(normalize.css);*/
/*normalize end*/

/*------ TYPOGRAPHIC STYLES ------*/
.nav-opened {
	width: 100%!important;
	height: 100%!important;
	max-width: 100%!important;
	max-height: 100%!important;
	margin: 0!important;
	padding: 0!important;
	overflow: hidden!important;
	background: #000;
}
body{
	font: 16px/26px 'lozen-cond-regular', sans-serif;
	height: 100%;
	color: #000;
	min-width: 320px;
	background: #655446 url(../img/bg-page.jpg) 50% 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'lozen-cond-bold', sans-serif;
	font-weight: normal;
	margin: 0;
	color: #000;
}
h1{
	font-family: 'days-regular', Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 48px;
	padding: 0 0 42px;
	overflow: hidden;
}
h2{
	font-size: 18px;
	line-height: 22px;
	padding: 0 0 20px;
}
h3{
	font-size: 16px;
	line-height: 18px;
	padding: 0 0 15px;
}
h4{
	font-size: 14px;
	line-height: 16px;
	padding: 0 0 10px;
}
h5{
	font-size: 14px;
	line-height: 16px;
	padding: 0 0 5px;
}
h6{
	font-size: 12px;
	line-height: 14px;
	padding: 0 0 5px;
}
p{
	padding: 0 0 24px;
	margin: 0;
}
hr{
	line-height: 1px;
	height: 0;
	border: none;
	background: none;
	border-bottom: 1px solid #333;
	margin-bottom: 29px;
}
a{
	color: #00f;
	outline: none;
	text-decoration: underline;
	cursor: default;
}
a:link{ cursor: pointer; }
.desktop a:hover{ text-decoration: none; }
a[href^="tel"],
.desktop a[href^="tel"]:hover,
a[href^="fax"],
.desktop a[href^="fax"]:hover{
	text-decoration: none !important;
	color: inherit;
	cursor: default;
}
a[href^="javascript:"]{ cursor: default; }
img{
	border: none;
	vertical-align: top;
	max-width: 100%;
}
mark {
	background: none;
	color: #9c0;
	font-style: inherit;
	font-weight: inherit;
}
b, strong, th{
	font-family: 'lozen-cond-bold', sans-serif;
	font-weight: normal;
}
i, em{
	font-family: 'lozen-cond-italic', sans-serif;
	font-style: normal;
}
i b,
i strong,
em b,
em strong,
b i,
b em,
strong i,
strong em{
	font-family: 'lozen-cond-bold-italic', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.nobr{ display: inline-block; }
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.wrapper{
	float: left;
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
.wrapper > .max-wrap{ position: relative; }
.wrapper > .max-wrap:before,
.wrapper > .max-wrap:after{
	content: '';
	position: absolute;
	top: 0;
	bottom: -6999px;
}
.wrapper > .max-wrap:before{
	left: 0;
	width: 277px;
}
.wrapper > .max-wrap:before,
.sidebar{ background: #9c0; }
.wrapper > .max-wrap:after{
	left: 277px;
	right: 242px;
	background: #fff;
	box-shadow: -5px 0 8px rgba(0, 0, 0, 0.3);
}
.home-page .wrapper > .max-wrap:after{
	background: none;
}
.layout{
	margin: 0 0 0 277px;
	min-height: 1px;
}
.footer .layout,
.content{
	margin-right: 242px;
}
.home-page .footer .layout,
.home-page .content{
	margin-right: 0;
}
.main{
	position: relative;
	clear: both;
	z-index: 4;
}
.content-wrap{
	width: 100%;
	float: left;
}
.home-page .content-wrap{
	float: none;
	width: auto;
}
.main:before,
.main:after { content: ""; display: table; }
.main:after { clear: both; }
.max-wrap,
.max-wrap-md,
.max-wrap-home{
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px !important;
	padding-right: 30px !important;
	box-sizing: border-box;
}
.max-wrap-md{
	max-width: 860px;
}
.max-wrap-home{
	max-width: 1260px;
}
.max-wrap-lg{
	max-width: 1360px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}
.max-wrap{
	max-width: 1600px;
	margin-left: 0;
}
.wrapper > .max-wrap,
.footer > .max-wrap{
	padding: 0 !important;
}

.header{ height: 75px; }
.main,
.sidebar{
	box-sizing: border-box;
	padding-top: 75px;
}
/*MAIN BLOCKS end*/

/*slider*/
.slick-arrow{
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	border: none;
	border-radius: 5px;
	background: #fff;
	outline: none;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	opacity: 1;
	z-index: 6;
}
.slick-prev { left: 10px; }
.slick-next { right: 10px; }
.desktop .slick-arrow:hover { opacity: 1; }
.slick-arrow.slick-disabled,
.desktop .slick-arrow.slick-disabled{
	opacity: 0.25;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
}
.desktop .slick-next:focus,
.desktop .slick-next:hover,
.desktop .slick-prev:focus,
.desktop .slick-prev:hover{
	opacity: 1;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover{
	background: #fff;
}
.slick-arrow:before,
.slick-arrow:after{
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	opacity: 1;
	pointer-events: none;
}
.slick-prev:after,
.slick-prev:before{
	right: 50%;
	margin-right: -5px;
}
.slick-prev:before{
	border-color: rgba(23, 120, 82, 0);
	border-right-color: #177852;
	border-width: 15px;
	margin-top: -15px;
}
.slick-prev:after{
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 9px;
	margin-top: -9px;
}
.slick-next:before,
.slick-next:after{
	left: 50%;
	margin-left: -5px;
}
.slick-arrow.slick-disabled:before{
	opacity: 1;
}
.slick-next:before{
	border-color: rgba(23, 120, 82, 0);
	border-left-color: #177852;
	border-width: 15px;
	margin-top: -15px;
}
.slick-next:after{
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 9px;
	margin-top: -9px;
}

.slick-dots{
	padding: 0;
	line-height: 0;
}
.slick-dots li,
.user-content .slick-dots li,
.user-content .slick-dots li:first-child{
	vertical-align: top;
	padding: 4px;
	width: auto;
	height: auto;
	margin: 0;
}
.user-content .slick-dots li:before{ content: none; }
.slick-dots li button {
	width: 14px;
	height: 14px;
	padding: 0;
	border-radius: 50%;
	background: #fff;
	position: relative;
	-webkit-transition-property: background, border, box-shadow, -webkit-transform;
	transition-property: background, border, box-shadow, transform;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.slick-dots li button:before {
	content: '';
	position: absolute;
	left: 1px;
	top: 1px;
	height: 12px;
	width: 12px;
	background: #016c42;
	border-radius: 50%;
	opacity: 1;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.20);
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.desktop .slick-dots li:hover button:before{
	-webkit-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.slick-dots li.slick-active button:before,
.desktop .slick-dots li.slick-active:hover button:before{
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
/*slider end*/

/*sp*/
/*@import url(sp.css);*/
/*sp end*/

/*btn*/
/*@import url(buttons.css);*/

/*btn-default*/
.btn-default,
input[type="submit"],
input[type="button"],
input[type="reset"]{
	position: relative;
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1em;
	padding: 7px 25px;
	min-width: 140px;
	border-radius: 20px;
	text-transform: uppercase;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	background: #529f1f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyOWYxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzRhOWEyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iIzEwNzYzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjZjNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #529f1f 0%, #4a9a23 15%, #10763c 79%, #026c42 100%);
	background: -webkit-linear-gradient(top, #529f1f 0%, #4a9a23 15%, #10763c 79%, #026c42 100%);
	background: linear-gradient(to bottom, #529f1f 0%, #4a9a23 15%, #10763c 79%, #026c42 100%);
}
.desktop .btn-default:hover,
.desktop input[type="submit"]:hover,
.desktop input[type="button"]:hover,
.desktop input[type="reset"]:hover{
	top: -1px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.btn-default:active{
	top: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/*btn-default end*/
/*btn end*/

/*USER CONTENT*/
.user-content p+h2,
.user-content ul+h2,
.user-content ol+h2,
.user-content p+h3,
.user-content ul+h3,
.user-content ol+h3,
.user-content p+h4,
.user-content ul+h4,
.user-content ol+h4,
.user-content p+h5,
.user-content ul+h5,
.user-content ol+h5{
	padding-top: 10px;
}

/*list*/
.user-content ul,
.user-content ol{
	margin: 0;
	padding: 0 0 22px;
	list-style: none;
}
.user-content ol{ counter-reset: section; }
.user-content ul li,
.user-content ol li{
	padding: 14px 0 0 20px;
	position: relative;
}
.user-content ol > li{
	counter-increment: section;
	height: 1%;
	overflow: hidden;
	padding-left: 20px;
}
.user-content ul li:first-child,
.user-content ol > li:first-child{
	padding-top: 0;
}
.user-content ul > li:before,
.user-content ol ul > li:first-child:before{
	content: '';
	position: absolute;
	left: 0;
	top: 21px;
	height: 0;
	width: 0;
	border: 5px solid #9c0;
	box-sizing: border-box;
}
.user-content ul > li:first-child:before{ top: 7px; }
.user-content ol > li:before{
	position: relative;
	display: inline-block;
	text-align: left;
	font-family: 'proximanova-bold', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #9c0;
	content: counter(section) ;
	padding: 0 4px 0 0;
	min-width: 20px;
	margin-left: -20px;
	box-sizing: border-box;
}
.user-content ul ul,
.user-content ul ol,
.user-content ol > li > ul{
	padding-bottom: 0;
	padding-left: 20px;
}
.user-content ul ul > li:before,
.user-content ul ul > li:first-child:before,
.user-content ol ul ul > li:before,
.user-content ol ul ul > li:first-child:before{
	height: 0;
	width: 10px;
	border-width: 2px 0;
	border-radius: 0;
	top: 23px;
}
.user-content ul ul li:first-child,
.user-content ul ol li:first-child,
.user-content ol ol li:first-child,
.user-content ol ul li:first-child{
	padding-top: 14px;
}
.user-content ul ul ul > li:before,
.user-content ul ul ul > li:first-child:before,
.user-content ul ol ul > li:before,
.user-content ul ol ul > li:first-child:before{
	height: 8px;
	width: 8px;
	top: 21px;
	border-width: 4px;
	border-radius: 50%;
}
/*list end*/

/*default table*/
table{
	border-collapse: collapse;
	border-spacing: 0;
	width: auto;
}
table td,
table th{
	padding: 8px;
	border: 1px solid #99bddb;
	font-size: 14px;
	line-height: 1.4;
}
/*default table end*/

/*table styling*/
.table_auto{
	overflow: auto;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
	margin: 0 0 20px;
}
.user-content .tbl{
	table-layout: fixed;
	border: 1px solid #99bddb;
	margin-bottom: 20px;
}
.table_auto .tbl{
	margin: 0;
}
.user-content .tbl td,
.user-content .tbl th{
	font: 14px/20px Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #fff;
	border: solid #99bddb;
	border-width: 0 0 0 1px;
	padding: 13px 12px;
}
.user-content .tbl tbody tr:nth-child(even) td{
	background: #e5eef6;
}
.user-content .tbl td:first-child{
	text-align: left;
}
.user-content .tbl tbody td:first-child,
.user-content .tbl tfoot td:first-child{
	border-left-width: 0;
}
.user-content .tbl th,
.user-content .tbl thead td{
	line-height: 17px;
	color: #fff;
	background: #0059a6;
	padding: 16px 12px 17px;
}
.user-content .tbl tfoot td{
	background: #e5eef6;
}
/*table styling end*/

/*blockquote*/
.blockquote{
	padding: 0 0 30px;
}
.user-content blockquote{
	display: block;
	margin: 0;
	background-color: #f5f5f5;
	border-left: 4px solid #9c0;
	padding: 18px 32px 28px 42px;
}
.user-content blockquote q{
	display: block;
	margin: 0;
	padding: 0 0 10px;
	font: italic 18px/24px 'Times New Roman', Times, serif;
	letter-spacing:0.05em;
	color: #808080;
}
.user-content blockquote q:before,
.user-content blockquote q:after{
	content: '';
	display: block;
	font-size: 24px;
	line-height: 28px;
}
.user-content blockquote q:before{
	content: '«';
	padding-left: 17%;
	padding-bottom: 10px;
}
.user-content blockquote q:after{
	content: '»';
	text-align: right;
	padding-right: 18.5%;
	padding-top: 8px;
}
.user-content blockquote cite{
	text-align: right;
	display: block;
	margin-left: auto;
	font: italic 20px/24px 'Times New Roman', Times, serif;
	color: #333;
}
/*blockquote end*/

/*content img*/
.imgc{
	text-align: center;
	padding-bottom: 30px;
	clear: both;
}
.imgl{
	text-align: left;
	float: left;
	margin: 0 30px 20px 0;
	max-width: 50%;
}
.imgr{
	text-align: right;
	float: right;
	margin: 0 0 20px 30px;
	max-width: 50%;
}
/*content img end*/

/*aligned content*/
.align-center{
	text-align: center;
}
/*aligned content end*/

/*elements form style*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
	display: block;
	color: #333;
	font: 14px/16px Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	height: 34px;
	width: 100%;
	padding: 8px 13px;
	background: #fff;
	box-shadow: none;
	border: 1px solid #0059a6;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	box-sizing: border-box;
	margin: 0 0 28px;
}
.input-wrap input[type="text"],
.input-wrap input[type="password"],
.input-wrap input[type="email"],
.input-wrap input[type="search"],
.input-wrap textarea{
	margin: 0;
}
textarea{
	padding: 8px 13px;
	min-height: 114px;
	height: 114px;
	line-height: 16px;
	resize: vertical;
}
/*placeholder style*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input:-moz-placeholder,
textarea:-moz-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input::-moz-placeholder,
textarea::-moz-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input.placeholder,
textarea.placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
/*placeholder style end*/
/*placeholder hidden*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{ color: transparent !important; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{ color: transparent !important; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{ color: transparent !important; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder{ color: transparent !important; }
input.placeholder:focus,
textarea.placeholder:focus{ color: transparent !important; }
/*placeholder hidden end*/
/*form focus*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus{
	box-shadow: inset 0 0 5px #0059a6;
}
/*form focus end*/
/*form error*/
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="search"].error,
textarea.error{
	color: #d32e2e;
	border-color: #d32e2e;
	box-shadow: 0 0 5px rgba(211, 46, 46, 0.4);
}
input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder{ color: #d32e2e; }
input.error:-moz-placeholder,
textarea.error:-moz-placeholder{ color: #d32e2e; }
input.error::-moz-placeholder,
textarea.error::-moz-placeholder{ color: #d32e2e; opacity: 1; }
input.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder{ color: #d32e2e; opacity: 1; }
input.error .placeholder,
textarea.error .placeholder{ color: #d32e2e; opacity: 1; }
/*form error end*/
/*checkbox*/
input[type="checkbox"]{ width: 16px; height: 16px; padding: 0; margin: 0; }
input[type="checkbox"] {
	display:none
}
.checkbox-list,
.user-content .checkbox-list,
.radio-list,
.user-content .radio-list{
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 24px;
}
.checkbox-list li,
.user-content .checkbox-list li,
.user-content .checkbox-list li:first-child,
.radio-list li,
.user-content .radio-list li,
.user-content .radio-list li:first-child{
	position: relative;
	padding: 0 0 20px;
}
.checkbox-list li:before,
.user-content .checkbox-list li:before,
.radio-list li:before,
.user-content .radio-list li:before{
	content: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	vertical-align: top;
	font: 14px/24px Arial, Helvetica, sans-serif;
	color: #1a1a1a;
	text-transform: none;
	cursor: pointer;
	position: relative;
}
input[type="checkbox"] + label:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 24px;
	width: 24px;
	border-radius: 3px;
	background: #9c0;
}
input[type="checkbox"] + label:after{
	content: '';
	position: absolute;
	left: 2px;
	top: 2px;
	height: 20px;
	width: 20px;
	border-radius: 2px;
	background: #fff;
	box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.25);
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
input[type="checkbox"] + label>span,
input[type="radio"] + label>span{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 2px 0 2px 40px;
	z-index: 2;
}
input[type="checkbox"] + label>span:before,
input[type="checkbox"] + label>span:after{
	content: '';
	position: absolute;
	height: 2px;
	width: 0;
	background: #fff;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
input[type="checkbox"] + label>span:before{
	transform: rotate(45deg);
	transform-origin: 0 0.6em;
	left: 0;
	top: 8px;
}
input[type="checkbox"] + label>span:after{
	transform: rotate(-50deg);
	transform-origin: 0 1.0em;
	left: 20px;
	top: 12px;
}
input[type="checkbox"]:checked + label>span:before{
	width: 0.6em;
	-webkit-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
input[type="checkbox"]:checked + label>span:after{
	width: 1.0em;
	-webkit-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
input[type="checkbox"]:checked + label:after{ opacity: 0; }
input[type="checkbox"]:disabled + label{ color: #bdbdbd; }
input[type="checkbox"]:disabled + label:before{ background: #ececec; }
input[type="checkbox"]:disabled + label>span:before,
input[type="checkbox"]:disabled + label>span:after{
	background: #b9b9b9;
}
/*checkbox end*/
/*radio*/
input[type="radio"]{ float: left; height: 15px; width: 16px; margin: 0; padding: 0; }
input[type="radio"] {
	display:none
}
input[type="radio"] + label:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 24px;
	width: 24px;
	border-radius: 50px;
	background: #9c0;
}
input[type="radio"] + label:after{
	content: '';
	position: absolute;
	left: 2px;
	top: 2px;
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background: #fff;
	box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.25);
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
input[type="radio"] + label>span:after {
	content:'';
	width:12px;
	height: 12px;
	position: absolute;
	top: 6px;
	left: 6px;
	border-radius: 50%;
	overflow: hidden;
	background: #9c0;

	-webkit-animation:bounceout 0.3s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;

	animation:bounceout 0.3s;
	animation-iteration-count:1;
	animation-fill-mode:forwards;

}

input[type="radio"]:checked + label>span:after {
	-webkit-animation:bounce 0.3s;
	-webkit-animation-iteration-count:1;

	animation:bounce 0.3s;
	animation-iteration-count:1;
}

@-webkit-keyframes bounce {
	0%  { -webkit-transform:scale(0.8); opacity:0.4}
	50% { -webkit-transform:scale(1.4); opacity:1}
	100%{ -webkit-transform:scale(1); opacity:1}
}
@keyframes bounce {
	0%  { transform:scale(0.8); opacity:0.4}
	50% { transform:scale(1.4); opacity:1}
	100%{ transform:scale(1); opacity:1}
}
@-webkit-keyframes bounceout {
	0%  { -webkit-transform:scale(0); opacity:1;}
	50% { -webkit-transform:scale(1.4); opacity:1;}
	100%{ -webkit-transform:scale(0); opacity:0.4;}
}
@keyframes bounceout {
	0%  { transform:scale(0); opacity:1;}
	50% { transform:scale(1.4); opacity:1;}
	100%{ transform:scale(0); opacity:0.4;}
}

input[type="radio"]:disabled + label{ color: #bdbdbd; }
input[type="radio"]:disabled + label:before{ background: #d6d6d6; }
input[type="radio"]:disabled + label:after{
	box-shadow: none;
	background: #ececec;
}
input[type="radio"]:disabled + label>span:after{
	box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.25);
	background: #ececec;
}
/*radio end*/
/*form error end*/
.form-row,
.input-wrap{ padding: 0 0 28px; }
.form-row{
	margin: 0 -15px;
	font-size: 0;

	letter-spacing: -4px;
}
.form-row .input-wrap{
	display: inline-block;
	vertical-align: top;
	width: 49.98%;
	padding: 0 15px;
	box-sizing: border-box;

	font-size: 16px;
	letter-spacing: normal;
}
.label-holder{ padding: 0 0 10px; }
.label-holder,
label{
	font-size: 14px;
	line-height: 18px;
	color: #333;
}
.form-mark{
	display: inline-block;
	vertical-align: top;
	color: #9c0;
}
/*select*/
.select{
	position: relative;
	margin: 0;
	background: #fff;
	border: 1px solid #0059a6;
	display: block;
	box-sizing: border-box;
}
.select select{
	display: block;
	font: 14px/16px Arial, Helvetica, sans-serif;
	color: #333;
	-webkit-font-smoothing: antialiased;
	padding: 8px 13px;
	-webkit-appearance: none;
	-moz-appearance: none;
	white-space: nowrap;
	text-indent: 0;
	text-overflow: '';
	width: 100%;
	border: none;
	background: transparent;
	overflow: hidden;
	cursor: pointer;
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
}
.select:before,
.select:after{
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	height: 0;
	width: 8px;
	margin-top: -2px;
	border-top: 2px solid #0059a6;
	box-sizing: border-box;
}
.select:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.select:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 15px;
}
/*select end*/
/*elements form style end*/

/*download files items*/
/*depict files*/
[class|="depict-files"],
[class*=" depict-files-"]{
	background:url(../img/sprite-files.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-files-pdf{ background-position: 0 0; width: 39px; height: 46px; }
.depict-files-xls{ background-position: 0 -66px; width: 39px; height: 46px; }
.depict-files-doc{ background-position: 0 -132px; width: 39px; height: 46px; }
.depict-files-zip{ background-position: 0 -198px; width: 39px; height: 46px; }
.depict-files-jpg{ background-position: 0 -264px; width: 39px; height: 46px; }
/*depict files end*/

/*files item*/
.files{
	padding: 0 0 20px;
	margin-left: -30px;
	font-size: 0;
	letter-spacing: -4px;
}
.files-item{
	font-size: 14px;
	line-height: 18px;
	letter-spacing: normal;
}
.files .files-item{
	display: inline-block;
	vertical-align: top;
	width: 33.29%;
	padding: 0 0 48px 30px;
}
.file{
	font-size: 14px;
	line-height: 18px;
	padding: 0 0 0 53px;
	position: relative;
	min-height: 46px;
}
.file__title{
	padding: 5px 0 7px;
}
.file__title a{
	text-decoration: none;
	margin: 0 0 0 -53px;
	display: inline-block;
	padding: 0 0 0 53px;
}
.file__title a span{
	padding-top: 5px;
	text-decoration: underline;
}
.file__title a:hover span{
	text-decoration: none;
}
.file [class*="depict-files-"]{
	position: absolute;
	left: 0;
	top: 0;
}
.file__info{
	color: #666;
}
/*files item end*/
/*download files items end*/

/*view print*/
.view-print{
	float: right;
	padding: 6px 12px;
	background: #f9f9f9;
	line-height: 1;
	color: #000;
	text-decoration: none;
	margin-left: 30px;
	-webkit-transition-property: background;
	transition-property: background;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.desktop .view-print:hover{
	background-color: #eaeaea;
}
.view-print svg{
	vertical-align: middle;
	width: 16px;
	margin-right: 5px;
}
.view-print span{
	display: inline-block;
	vertical-align: middle;
}
@media only screen and (max-width: 979px){
	.view-print{ font-size: 14px; }
}
@media only screen and (max-width: 639px){
	.view-print svg{
		vertical-align: top;
		margin-right: 0;
	}
	.view-print span{ display: none; }
}
/*view print end*/
/*USER CONTENT end*/

/*HEADER*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
	z-index: 5;
}
.header-holder{
	height: 100%;
	position: relative;
}
.header-holder:before,
.header-holder:after { content: ""; display: table; }
.header-holder:after { clear: both; }
/*logo*/
.logo{
	position: absolute;
	left: 30px;
	top: 50%;
	background: url(../img/logo.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 441px;
	height: 50px;
	text-indent: -9999px;
	overflow: hidden;
	margin-top: -25px;
	-webkit-transition-property: width, height;
	transition-property: width, height;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.logo a{
	display: block;
	height: 100%;
}
/*logo end*/

/*login*/
.login{
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.login,
.login__item a,
.login__item span{
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #999;
	text-decoration: none;
}
.login__item{
	float: left;
	padding-left: 15px;
	position: relative;
}
.login__item:first-child{
	padding-left: 0;
}
.login__item:first-child:before{
	content: none;
}
.login__item a{
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	border-radius: 4px;
	border: 1px solid #f4f4f4;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	width: 38px;
	height: 38px;
	background: #fff;
	box-sizing: border-box;
}
.login__item span{
	display: inline-block;
}
.depict-user{
	display: inline-block;
	vertical-align: top;
	background: url(../img/depict-user.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 18px;
	height: 17px;
}
.login__item i{
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/*login end*/

/*main navigation*/
.nav{
	float: right;
	clear: right;
	padding: 24px 70px 0 30px;
}
.nav-list{
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 28px;
}
.nav-list li{
	float: left;
	padding-left: 28px;
}
.nav-list a{
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-size: 21px;
	line-height: 28px;
	color: #000;
	text-decoration: none;
}
.nav-list .active > a,
.desktop .nav-list a:hover{
	text-decoration: none;
	color: #c00;
}
/*main navigation end*/

/*button menu*/
.btn-menu{
	position: absolute;
	right: 30px;
	top: 19px;
	width: 98px;
	height: 38px;
	margin-top: 0;
	color: #000;
	text-decoration: none;
	border-radius: 4px;
	border: 1px solid #f4f4f4;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	background: #fff;
	box-sizing: border-box;
	display: none;

	font-size: 0;
	letter-spacing: -4px;
}
.btn-menu:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.btn-menu.active{
	position: fixed;
	right: 20px;
	z-index: 100;
}
.btn-menu:active{
	-webkit-transform: translate(0, 1px);
	-ms-transform: translate(0, 1px);
	transform: translate(0, 1px);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-menu-frame{
	display: inline-block;
	vertical-align: middle;
	padding-left: 26px;
	position: relative;
	box-sizing: border-box;
}
.btn-menu .btn-menu-frame span{
	display: block;
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.btn-menu.active .btn-menu-frame > span{
	display: none;
}
.btn-menu .btn-menu-frame > span + span{
	display: none;
}
.btn-menu.active .btn-menu-frame > span + span{
	display: block;
}
.btn-lines{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 0;
}
/*for all line menu*/
.btn-lines > span,
.btn-lines:before,
.btn-lines:after{
	display: block;
	width: 18px;
	height: 3px;
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	will-change: transform, opacity;
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
	transition-timing-function: cubic-bezier(1, 0, 0, 1);
	-webkit-transform: translateZ(0) scale(1, 1);
	-ms-transform: translateZ(0) scale(1, 1);
	transform: translateZ(0) scale(1, 1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.btn-lines:before,
.btn-lines:after{
	content: '';
	position: absolute;
	top: -2px;
	opacity: 0;
	z-index: 2;
}
/*for all line menu end*/
/*close view*/
.btn-menu.active .btn-lines:before{
	opacity: 1;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.btn-menu.active .btn-lines:after{
	opacity: 1;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*close view end*/
/*first line menu*/
.btn-lines > span:nth-child(1){ top: -9px; }
.btn-menu.active .btn-lines > span:nth-child(1){
	opacity: 0;
}
/*first line menu end*/
/*second line menu*/
.btn-lines > span:nth-child(2){ top: -1px; }
.btn-menu.active .btn-lines > span:nth-child(2){
	opacity: 0;
}
/*second line menu end*/
/*third line menu*/
.btn-lines > span:nth-child(3){ top: 7px; }
.btn-menu.active .btn-lines > span:nth-child(3){
	opacity: 0;
}
/*third line menu end*/
/*button menu end*/
/*HEADER end*/

/*MAIN*/
/*CONTENT*/
.content{
	background: #fff;
	padding-top: 65px;
}
.home-page .content{
	background: none;
	padding: 40px 0 0;
}

/*breadcrumbs*/
.breadcrumbs{
	font-size: 12px;
	line-height: 14px;
	color: #000;
	padding: 0 0 20px;
}
.breadcrumbs-list,
.user-content .breadcrumbs-list{
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}
.breadcrumbs-list li,
.user-content .breadcrumbs-list li{
	padding: 0 10px 10px 12px;
	float: left;
	position: relative;
}
.user-content .breadcrumbs-list li:before{
	content: '/';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	border: none;
}
.breadcrumbs-list li:first-child{
	padding-left: 0;
	background: none;
}
.breadcrumbs-list li:first-child:before,
.user-content .breadcrumbs-list li:first-child:before{
	content: none;
}
.breadcrumbs-list a{
	color: #3262c2;
	text-decoration: underline;
}
.breadcrumbs-list a:hover{
	text-decoration: none;
}
/*breadcrumbs end*/

/*datetime*/
.datetime{
	display: block;
	font-size: 14px;
	color: #ccc;
	padding: 0 0 20px;
}
/*datetime */

/*adverts box*/
.home-page .sidebar .adverts-box{
	display: none;
}
/*advert*/
.advert{
	text-align: center;
	padding: 40px 30px 27px;
}
.advert__figure{ padding: 0 0 9px; }
.advert__img{
	display: inline-block;
	vertical-align: top;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.57);
}
.advert__img img{
	width: auto;
}
.advert__content{
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
}
.advert__title{
	display: block;
	font-weight: bold;
	font-size: 17px;
	line-height: 21px;
	margin: 0 0 2px;
}
.advert__text{
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 11px;
}
.advert__footer{
	text-align: center;
}
/*advert end*/

/*subscribe*/
.subscribe{
	display: block;
	text-decoration: none;
	background: #feed00;
	color: #000;
	padding: 11px 30px 16px;
	text-align: center;
}
.subscribe:hover{
	text-decoration: none;
}
.subscribe__icon{
	padding: 0 0 7px;
}
.depict-subscribe{
	background: url(../img/depict-subscribe.png) no-repeat;
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 47px;
	position: relative;
}
.desktop .subscribe:hover .depict-subscribe{
	-webkit-transform: translate(0, -2px);
	-ms-transform: translate(0, -2px);
	transform: translate(0, -2px);
}
.subscribe__text,
.subscribe__text > strong{
	display: block;
	font-family: 'days-regular', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 19px;
	padding: 0;
}
.subscribe__text > strong{
	margin: 0 auto;
	max-width: 140px;
}
.desktop .subscribe:hover .subscribe__text > strong{
	color: #1b7d37;
}
/*subscribe end*/
/*adverts box end*/

/*adverts box (on content)*/
.promo-section .adverts-box{
	float: right;
	width: 210px;
	margin: 0 0 0 -210px;
	background: #9c3;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.promo-section .advert {
	padding: 30px 20px 10px;
	min-height: 361px;
	box-sizing: border-box;
}
.promo-section .advert__figure{
	min-height: 207px;
}
.promo-section .subscribe{
	min-height: 119px;
	box-sizing: border-box;
}
/*adverts box (on content) end*/

/*promo section*/
.promo-section{
	position: relative;
	padding: 0 0 35px;
}
.promo-section:before,
.promo-section:after { content: ""; display: table; }
.promo-section:after { clear: both; }
.promo-section-holder{
	float: left;
	width: 100%;
}
/*promo slider*/
.promo-slider,
.promo-slider.slick-dotted{
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;

	letter-spacing: -4px;
	white-space: nowrap;
}
.promo-section-holder .promo-slider,
.promo-section-holder .slick-dotted.slick-slider{
	margin-right: 230px;
}

/*promo slider shadow*/
.promo-slider:before,
.promo-slider:after{
	content: '';
	position: absolute;
	top: 100%;
	margin-top: -45px;
	height: 64px;
	background: no-repeat 0 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 50%;
	display: none;
	z-index: -1;
}
.promo-slider.slick-initialized:before,
.promo-slider.slick-initialized:after{
	display: block;
}
.promo-slider:before{
	left: 0;
	background-image: url(../img/shadow-slider-l.png);
	-ms-background-position-x: 100%;
	background-position-x: 100%;
}
.promo-slider:after{
	right: 0;
	background-image: url(../img/shadow-slider-r.png);
	-ms-background-position-x: 0;
	background-position-x: 0;
}
/*promo slider shadow end*/

.promo-slider__item{
	float: none;
	display: inline-block;
	vertical-align: top;
	opacity: 0;

	overflow: hidden;
	position: relative;

	font-size: 18px;
	line-height: 24px;
	letter-spacing: normal;
	white-space: normal;
}
.promo-slider__item:before{
	content: '';
	display: block;
	padding-top: 49.5%;
	height: 0;
}
.slick-initialized .promo-slider__item{
	display: block;
	float: left;
	opacity: 1;
}
.no-js .promo-slider__item{
	display: block;
	width: 100%;
	opacity: 1;
}
.promo-slider__bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.promo-slider .slick-dots{
	z-index: 2;
	bottom: 15px;
}
/*promo slider end*/
/*promo section end*/

/*shares slider*/
.shares{
	padding: 0 0 50px;
}

/*shares slider*/
.shares-slider,
.shares-slider.slick-dotted{
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;

	letter-spacing: -4px;
	white-space: nowrap;
}

.shares-slider__item{
	float: none;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	opacity: 0;
	box-sizing: border-box;

	overflow: hidden;
	position: relative;

	font-size: 18px;
	line-height: 24px;
	letter-spacing: normal;
	white-space: normal;
}
.slick-initialized .shares-slider__item{
	display: block;
	float: left;
	opacity: 1;
}
.no-js .shares-slider__item{
	display: block;
	width: 100%;
	opacity: 1;
}
.shares-slider__inner{
	display: block;
	position: relative;
	text-decoration: none;
	color: #000;
	background: #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.desktop .shares-slider__inner:hover{
	text-decoration: none;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
	top: -1px;
}

.shares-slider__figure{
	overflow: hidden;
	position: relative;
	max-width: 320px;
	margin: 0 auto;
}
.shares-slider__figure:before {
	content: '';
	display: block;
	height: 0;
	padding-top: 83.2%;
}
.shares-slider__img {
	position: absolute;
	left: -1%;
	top: 0;
	right: -1%;
	height: 100%;
	text-align: center;

	font-size: 0;
	letter-spacing: -4px;
}
.shares-slider__img:after{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.shares-slider__img img {
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
	max-width: 98%;

	font-size: 16px;
	letter-spacing: normal;
}

.shares-slider .slick-prev{ left: 0; }
.shares-slider .slick-next{ right: 0; }
/*shares slider*/
/*shares slider end*/

/*desks*/
.desks{
	padding: 0 0 50px;
}
/*desks end*/

/*desks list*/
.desks-list{
	font-size: 0;
	letter-spacing: -4px;
}
.desks-list__item{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 24.98%;
	padding: 0 10px 20px;
	box-sizing: border-box;

	font-size: 16px;
	letter-spacing: normal;
}
.desks-list__inner{
	display: block;
	position: relative;
	background: #fff;
	text-decoration: none;
	color: #000;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.desktop a.desks-list__inner:hover{
	text-decoration: none;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
	top: -1px;
}
.desks-list__inner:before{
	content: '';
	display: block;
	padding-top: 101.8%;
}
.desks-list__img{
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.desks-list__img img{
	display: block;
	width: 100%;
}
.desks-list__title{
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	width: 100%;
	padding: 14px 20px;
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.1em;
	box-sizing: border-box;
}
/*desks list end*/

/*rate*/
.rate{
	background: #fff;
	text-align: center;

	font-size: 0;
	letter-spacing: -4px;
}
.desks-list__item .rate{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.rate:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.rate__align{
	display: inline-block;
	vertical-align: middle;
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #666;
	letter-spacing: normal;
	width: 98%;
	padding: 0 30px;
	box-sizing: border-box;
}
.rate__title{
	display: block;
	padding: 0 0 20px;
	font-weight: bold;
	font-size: 21px;
	line-height: 27px;
	color: #000;
}
.rate__text{
	padding: 0 0 25px;
}
/*rate end*/

/*banners*/
.banners{
	padding: 35px 0 0;
}
.banners-slider.slick-dotted{
	padding-bottom: 30px;
	margin: 0;
}

.banners-slider__slides .slick-list{
	overflow: visible;
}
.banners-slider__list,
.banners-slider__list.slick-dotted{
	margin: 0;
	padding: 0 0 28px;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	white-space: nowrap;
}
.banners-slider__slide{
	float: none;
	display: inline-block;
	vertical-align: top;
	opacity: 0;

	overflow: hidden;
	position: relative;

	font-size: 18px;
	line-height: 24px;
	letter-spacing: normal;
	white-space: normal;
}
.slick-initialized .banners-slider__slide,
.no-js .banners-slider__slide{
	display: block;
	float: left;
	opacity: 1;
}
.banners-slider__item{
	padding: 0 30px 17px;
	text-align: center;
}
.banners-slider__inner{
	display: block;
	text-decoration: none;
	color: #fff;
}
.desktop .banners-slider__inner:hover{ text-decoration: none; }
.banners-slider__title{
	display: block;
	position: relative;
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.1em;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 6px;
}
.banners-slider__figure{
	padding: 0 0 6px;
}
.banners-slider__img{
	display: block;
	max-width: 220px;
	margin: 0 auto;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	position: relative;
}
.desktop .banners-slider__inner:hover .banners-slider__img{
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
	top: -1px;
}
.banners-slider__img img{
	display: block;
}

.banners-slider .slick-dots{
	z-index: 2;
	bottom: 9px;
}
/*banners end*/
/*CONTENT*/

/*SIDEBAR*/
.sidebar{
	float: left;
	position: relative;
	margin: 0 0 0 -100%;
	width: 277px;
}
.sidebar-holder{
	position: relative;
	overflow: hidden;
}
.sidebar-holder:after{
	content: '';
	position: absolute;
	left: 100%;
	top: -10px;
	bottom: -10px;
	width: 20px;
	box-shadow: -5px 0 8px rgba(0, 0, 0, 0.3);
}
/*SIDEBAR end*/

/*sidebar content (for devices)*/
.sidebar-content{
	background: #9c0;
	display: none;
}
.sidebar-holder-content{
	position: relative;
	overflow: hidden;
}
/*sidebar content (for devices) end*/

/*ASIDE*/
.aside{
	display: inline;
	float: right;
	margin: 0 0 0 -242px;
	width: 242px;
	background: none;
	color: #fff;
}
.aside-holder{
	padding-top: 40px;
}
.menu__list{
	list-style: none;
	margin: 0;
	padding: 0 30px 30px;
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	color: #fff;
}
.menu__list > li{
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.40);
}
.menu__list > li:first-child{
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.40);
}
.menu__list > li > a{
	display: block;
	text-decoration: none;
	padding: 8px 10px;
	color: #fff;
}
.desktop .menu__list > li > a:hover,
.menu__list > li.active > a{
	color: #feed00;
}
/*ASIDE end*/
/*MAIN end*/

/*FOOTER*/
.footer{
	float: left;
	width: 100%;
	position: relative;
	font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
	color: #666;
	clear: both;
}
/*footer holder*/
.footer-holder{
	position: relative;
	padding: 24px 0;
	text-align: justify;
	overflow: hidden;
	cursor: default;
	background: #f3f3f3;

	font-size: 1px;
	line-height: 0;
	letter-spacing: -4px;
}
.footer-holder:after{
	content: "1";
	margin-left: 100%;
	height: 1px;
	overflow: hidden;
	display: inline-block;
}
.footer-holder a{
	color: #666;
	text-decoration: none;
}
.desktop .footer-holder a:hover{ text-decoration: underline; }
.footer-col{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 20px;
	padding: 0;
	letter-spacing: normal;
}

/*developer*/
.desktop .developer a:hover{ text-decoration: none; }
.developer a .text-inner{ text-decoration: none; }
.desktop a:hover .text-inner{ text-decoration: none; }
.developer_logo{
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 3px;
	width: 154px;
	height: 20px;
	overflow: hidden;
	text-align: left;
	text-indent: -9999px;
}
.developer_logo:before,
.developer_logo:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 149px;
	height: 16px;
	-webkit-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.developer_logo:before{
	content: '';
	position: absolute;
	left: 4px;
	top: 4px;
	background-color: transparent;
	background-image:
			linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
			linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
	background-size:2px 2px;
	background-position:0 0, 1px 1px;
}
.no-cssgradient .developer_logo:before,
.no-multiplebgs .developer_logo:before{
	background: #000;
	opacity: 0.5;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.developer_logo:after{
	content: '';
	position: absolute;
	background: #00ef85 url(../img/logo-developer-2x.png) no-repeat center center;
	-webkit-background-size: auto 16px;
	background-size: auto 16px;
}
.no-backgroundsize .developer_logo:after{
	background-image: url(../img/logo-developer.png);
}
.desktop a:hover .developer_logo:after{
	background-color: #00ff92;
	-webkit-transition-duration: 3s;
	transition-duration: 3s;
}
/*developer end*/
/*footer holder end*/
/*FOOTER end*/

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
.lt-ie9 body{ background: #fff !important; }
.lt-ie9 .header,
.lt-ie9 .wrapper,
.lt-ie9 .footer,
.lt-ie9 .sidebar{ display: none !important; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){

}*/

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print{
	*,
	*:before,
	*:after{
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a, a:visited{ text-decoration: underline; }
	a[href^=http]:after { content:" <" attr(href) "> "; }
	a[href]:after{ content: " (" attr(href) ")"; }
	abbr[title]:after{ content: " (" attr(title) ")"; }
	a[href^="#"]:after, a[href^="javascript:"]:after{ content: ""; }
	pre, blockquote{ border: 1px solid #999; page-break-inside: avoid; }
	thead{ display: table-header-group; }
	tr, img{ page-break-inside: avoid; }
	img{ max-width: 100% !important; }
	p, h2, h3{ orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
	.sidebar,
	.aside,
	.print-hidden,
	.login,
	.nav,
	.view-print{ display: none !important; }
	.layout, .content{
		margin: 0 !important;
	}
	.header{
		position: relative !important;
		height: 40px !important;
		min-height: 0 !important;
		max-height: none !important;
		padding: 0 !important;
	}
	.logo{
		float: none !important;
		position: relative !important;
		overflow: hidden !important;
	}
	.main{ padding-top: 0 !important; }
	.content{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.logo{ background: none !important; }
	.logo>*{ display: none; }
	.logo>img{ display: block !important; }
}