/* lozen cond regular */
@font-face {
	font-family: 'lozen-cond-regular';
	src: url('../fonts/lozen/cond-regular/lozen-condensed-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* lozen cond black */
@font-face {
	font-family: 'lozen-cond-black';
	src: url('../fonts/lozen/cond-black/lozen-condensed-black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* lozen cond black italic */
@font-face {
	font-family: 'lozen-cond-black-italic';
	src: url('../fonts/lozen/cond-black-italic/lozen-condensed-black-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* lozen cond bold */
@font-face {
	font-family: 'lozen-cond-bold';
	src: url('../fonts/lozen/cond-bold/lozen-condensed-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* lozen cond bold italic */
@font-face {
	font-family: 'lozen-cond-bold-italic';
	src: url('../fonts/lozen/cond-bold-italic/lozen-condensed-bold-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*
/* lozen cond italic */
@font-face {
	font-family: 'lozen-cond-italic';
	src: url('../fonts/lozen/cond-italic/lozen-condensed-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* days regular */
@font-face {
	font-family: 'days-regular';
	src: url('../fonts/days/regular/days-regular.eot');
	src: url('../fonts/days/regular/days-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/days/regular/days-regular.woff') format('woff'),
	url('../fonts/days/regular/days-regular.ttf') format('truetype'),
	url('../fonts/days/regular/days-regular.svg#days-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* days black */
@font-face {
	font-family: 'days-black';
	src: url('../fonts/days/black/days-black.eot');
	src: url('../fonts/days/black/days-black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/days/black/days-black.woff') format('woff'),
	url('../fonts/days/black/days-black.ttf') format('truetype'),
	url('../fonts/days/black/days-black.svg#days-black') format('svg');
	font-weight: normal;
	font-style: normal;
}